.modal {
  background-color: var(--background-color);
  padding: 20px;
  border: 4px solid var(--secondary-color);
  border-radius: 8px;
  width: 400px;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal h2 {
  text-align: center;
  margin: 0;
}

.modalLabel {
  font-size: 1.1rem;
}

.roomCreationInputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.modalRoomNameInput {
  width: 100%;
  padding: 10px;
  background-color: var(--foreground-color);
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
  outline: none;
}

.modalRoomNameInput:hover,
.modalRoomNameInput:focus {
  border: 1px solid var(--hover-secondary-color);
}

.modalSizeInputs {
  width: 100%;
  border-radius: 4px;
  border: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.modalSizeInputs input {
  background-color: var(--foreground-color);
  height: 2.2rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--secondary-color);
}

.modalSizeInputs input:hover,
.modalSizeInputs input:focus {
  border: 1px solid var(--hover-secondary-color);
}

.modalCreateRoomButton {
  margin-top: auto;
  background-color: var(--primary-color);
  font-size: 1.2rem;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  width: 100%;
}

.modalCreateRoomButton:hover {
  background-color: var(--hover-primary-color);
  cursor: pointer;
}

